{% extends 'base.html' %}

{% block title %}Мой профиль{% endblock %}

{% block content %}
	<h1>Профиль <span class="role">({{ user.get_role_display }})</span><br>
	<a href="{% url 'profile' %}" class="button">Личные данные</a>
	<a href="" class="button">Что то еще</a>
	</h1>
	<div style="width: 50%">
	<div class="container">
		
	{% block name %}
		{% if name_div %}
			{% include 'main_site/profile/profile_change_div.html' %}
		{% else %}
		<div class="row mb p-3 profile-info-top">
			<div class="col-4 " >Имя</div>
			<div class="col-6">{{student.full_name}}</div>
			<div class="col"><a href="{% url 'profile_change_full_name' %}">изменить</a></div>
		</div>
		{% endif %}
	{% endblock %}

	{% block username %}
		{% if username_div %}
			{% include 'main_site/profile/profile_change_div.html' %}
		{% else %}
		<div class="row mb p-3 profile-info">
			<div class="col-4 " >Логин</div>
			<div class="col-6">{{user.username}}</div>
			<div class="col"><a href="{% url 'profile_change_username' %}">изменить</a></div>
		</div>
		{% endif %}
	{% endblock %}

	{% block date %}
		{% if date_div %}
			{% include 'main_site/profile/profile_change_div.html' %}
		{% else %}
		<div class="row mb p-3 profile-info">
			<div class="col-4 " >Дата рождения</div>
			<div class="col-6">{{student.date_of_birth}}</div>
			<div class="col"><a href="{% url 'profile_change_date_of_birth' %}">изменить</a></div>
		</div>
		{% endif %}
	{% endblock %}
	{% block phone %}
		{% if phone_div %}
			{% include 'main_site/profile/profile_change_div.html' %}
		{% else %}
		<div class="row mb p-3 profile-info">
			<div class="col-4 " >Телефон</div>
			<div class="col-6">{{student.phone}}</div>
			<div class="col"><a href="{% url  'profile_change_phone' %}">изменить</a></div>
		</div>
		{% endif %}
	{% endblock %}
	{% block group %}
		{% if group_div %}
			{% include 'main_site/profile/profile_change_div.html' %}
		{% else %}
		<div class="row mb p-3 profile-info">
			<div class="col-4 " >Группа</div>
			<div class="col-6">{{student.university_group}}</div>
			<div class="col"><a href="{% url 'profile_change_group' %}">изменить</a></div>
		</div>
		{% endif %}
	{% endblock %}


	</div>
	</div>
	
	
{% endblock %}

