
<span class="logo">Site</span>
<ul class="menu" >
	<li {% if section == "resume_list" %} class="selected" {% endif %}>
		<a href="{% url 'resume_list' %}">Поиск резюме</a>
	</li>
				
	<li {% if section == "my_vacancy_list" %} class="selected" {% endif %}>
		<a href="{% url 'my_vacancy_list' %}">Мои вакансии</a>
	</li>

	<li {% if section == "company_response_list" %} class="selected" {% endif %}>
		<a href="{% url 'company_response_list' %}">Отклики</a>
	</li>
	<li {% if section == "document_list" %} class="selected" {% endif %}>
		<a href="{% url 'document_list' %}">Документы</a>
	</li>

</ul>
		

<span class="user">
	<div style="font-size: 16px">Привет, {{request.user.companys.name}}</div> 
			 
	<div {% if section == "profile" %} class="selected" {% endif %} style="list-style-type: none">
		<a href="{% url 'profile' %}">Профиль</a>
	</div>
	<a href="{% url 'logout' %}">Выход</a>	
</span>


<div id="right">		
	<span {% if section == "create_vacancy" %} class="selected-create" {% endif %} >
		<a href="{% url 'create_vacancy' %}">Создать вакансию</a>
	</span>
</div>

		
		
	

	
