
<span class="logo">Site</span>
<ul class="menu" >
	<li {% if section == "vacancy_list" %} class="selected" {% endif %}>
		<a href="{% url 'vacancy_list' %}">Поиск вакансий</a>
	</li>
				
	<li {% if section == "my_resume_list" %} class="selected" {% endif %}>
		<a href="{% url 'my_resume_list' %}">Мои резюме</a>
	</li>

	<li {% if section == "my_review_list" %} class="selected" {% endif %}>
		<a href="{% url 'my_review_list' %}">Мои отзывы</a>
	</li>

	<li {% if section == "student_response_list" %} class="selected" {% endif %}>
		<a href="{% url 'student_response_list' %}">Отклики</a>
	</li>
	<li {% if section == "document_list" %} class="selected" {% endif %}>
		<a href="{% url 'document_list' %}">Документы</a>
	</li>

</ul>
		

<span class="user">
	<div style="font-size: 16px">Привет, {{request.user.students.name}}</div> 
			 
	<div {% if section == "profile" %} class="selected" {% endif %} style="list-style-type: none">
		<a href="{% url 'profile' %}">Профиль</a>
	</div>
	<a href="{% url 'logout' %}">Выход</a>	
</span>


<div id="right">		
	<span {% if section == "create_resume" %} class="selected-create" {% endif %} >
		<a href="{% url 'create_resume' %}">Создать резюме</a>
	</span>
</div>
<div id="after-right">		
	<span {% if section == "create_review" %} class="selected-create" {% endif %} >
		<a href="{% url 'create_review' %}">Сделать отзыв</a>
	</span>
</div>
		
		
	

	
